<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test2">
		<classes>
			<class name="MavenPackage.FireFoxTestBrowserTest" />
			<class name="MavenPackage.IETestBrowserTest">
				<methods>
					<exclude name="GoogleTestBrowser_2" /> <!-- <include name = "AftrSuite"/> -->
				</methods>
			</class>
		</classes>
	</test>
</suite>
